@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Reset Web*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
figure>img{
    width: 100%;
}

main{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

a{
    text-decoration: none;
    color: #000;
}

/*Colores generales*/

:root{
    --cabecera: #4A90E2;
    --blanco: #f1f1f1
}

main{
    background-color: #ffffff;
    }
    
    /*Banner Pagina*/
    
    main>figure{
        width: 100%;
        padding: 0;
        margin: 88px 0 0;
    }
    
    main>h1:first-of-type,
    main>h2:first-of-type{
        display: none;
    }

    .cookie-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        backdrop-filter: blur(30px);
        background-color: #5e5e5e;
        color: #fff;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        font-size: 0.9rem;
      }

      .cookie-banner a{
        color: #d8d8d8;
        text-decoration: underline;
        transition: color 1s ease;
      }

      .cookie-banner a:hover{
        color: #adadad;
      }
      
      .cookie-banner button {
        background-color: var(--cabecera);
        color: #fff;
        font-family: "Poppins", serif;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 5px;
      }

    
@media screen and (min-width:1200px){
    header#normal{
        display: flex;
    }
    header#responsive{
        display: none;
    }

}

@media screen and (max-width:1200px){
    header#normal{
        display: none;
    }
    header#responsive{
        display: flex;
    }

    main>figure{
        width: 100%;
        padding: 0;
        margin: 130px 0 0;
    }


}
