@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/*Reset Web*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
figure>img{
    width: 100%;
}

ul{
    list-style: none;
}

main{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

a{
    text-decoration: none;
    color: #000;
}

/*Colores generales*/

:root{
    --degradado-azul: linear-gradient(to right, var(--azul--oscuro), var(--azul));
    --azul--oscuro:#1d4ed8; 
    --azul: #2563eb;
    --azul-cielo: #4A90E2;
    --azul-claro: #93c5fd;
    --blanco: #f1f1f1;
    --azul-oscuro-textos: rgb(31, 41, 55);
}

main{
    background-color: #ffffff;
    }
    
    /*Banner Pagina*/
    
    main>figure{
        width: 100%;
        padding: 0;
        margin: 88px 0 0;
    }
    
    main>h1:first-of-type,
    main>h2:first-of-type{
        display: none;
    }

    .cookie-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        backdrop-filter: blur(30px);
        background-color: #5e5e5e;
        color: #fff;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 99;
        font-size: 0.9rem;
      }

      .cookie-banner a{
        color: #d8d8d8;
        text-decoration: underline;
        transition: color 1s ease;
      }

      .cookie-banner a:hover{
        color: #adadad;
      }
      
      .cookie-banner button {
        background-color: var(--cabecera);
        color: #fff;
        font-family: "Poppins", serif;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 5px;
      }

    


/*Sobremesa*/
@media only screen and (min-width: 1440px){
     header#normal{
        display: flex;
    }
    header#responsive{
        display: none;
    }
}

/*Portatil*/

@media only screen and (min-width: 1024px) and (max-width: 1439px){
     header#normal{
        display: flex;
    }
    header#responsive{
        display: none;
    }
    
}

/*Tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px){
      header#normal{
        display: none;
    }
    header#responsive{
        display: flex;
    }

    main>figure{
        width: 100%;
        padding: 0;
        margin: 80px 0 0;
    }

footer>section:first-of-type{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer>section:first-of-type p{
    width: auto;
}

footer>section>div:not(:last-of-type){
    margin-bottom: 2em;
}

footer>section>p{
    text-align: center;
}

#formRegProduct .card {
      width: 80%!important;
}

#formRegProduct .header-title {
  font-size: 1.2rem!important;
}
#formRegProduct .header-badge {
  font-size: 0.8rem!important;
}
#formRegProduct .header-subtitle {
 font-size: 0.8rem!important;
}

#formRegProduct .pegi-options label{
    font-size: 0.8rem!important
}
}

/*Smartphone*/
@media only screen and (max-width: 767px){


#formRegProduct .card {
      width: 80%!important;
}

#formRegProduct .header-title {
  font-size: 2.6dvw!important;
}
#formRegProduct .header-badge, #formRegProduct .header-subtitle, #formRegProduct .form-hint, #formRegProduct .remove-image-btn, #formRegProduct .form-group, #formRegProduct .url-input span, #formRegProduct .form-checkbox label, #formRegProduct .btn-submit, #formRegProduct .btn-reset {
  font-size: 1.6dvw!important;
}

#formRegProduct input, #formRegProduct textarea, #formRegProduct select {
    padding: .5rem .75rem;
    font-size: 1.6dvw!important;
}

#formRegProduct .pegi-options label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#formRegProduct .pegi-options label input{
    margin-right: 1dvw;
}

#formRegProduct .form-grid{
    display: block!important;
}

#formRegProduct .form{
    padding: 1dvw!important;
}
}
