header#responsive{
   background: var(--degradado-azul);
    display: flex;
    width: 100%;
    z-index: 97;
    position: fixed;
    box-shadow: 0 2px 2px #4e4e4e;
    
    }
    
    header#responsive>section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 4em 0 2em;
    }


    header#responsive>section>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 0;
    }
     header#responsive .image_logo
{
        cursor: pointer;
        padding: 0 1em;
        width: 160px;
    }
    
    .image_logo>img{
        width: 100%;
    }
    
    header#responsive #menu{
 background-color: var(--azul);     /* bg-blue-800 */
 padding: 0.6em 1em;
  border-radius: 9999px;         /* rounded-full */
  font-weight: 500;              /* font-medium */
  transition: all 0.2s ease;     /* transition */
  display: flex;                 /* flex */
  align-items: center;          /* items-center */
  gap: 0.5rem;       
  color: #fff;
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 1em;
  
  transition: background-color .7s, color .7s;
}

header#responsive #menu:hover{
    background-color: var(--azul-claro);
    color: var(--azul--oscuro);
}
    header#responsive form{
        width: 100%;
        padding: 0 1em;
        
    }
    
   header#responsive form>section{
        width: 100%;
        display: flex;
        padding: 0.4em 0;
        align-items: center;
        background: #fff;
        transition: background 0.25s;
        border-radius: 9999px; position: relative;    }
    
   header#responsive form>section:focus-within{
        outline: none;
        box-shadow: 0 0 0 2px var(--azul-claro); 
    }
    
   header#responsive form>section>input{
        font-size: 1em;
        font-family: "Poppins", serif;
        font-weight: 500;
        color: rgb(31, 41, 55);
        margin-left: 2em;
        outline: none;
        border: none;
        background-color: transparent;
       
    }
    
   header#responsive form>section i{
        padding: 0 1em;
        right: 0;
        position: absolute;
    }
    
    
   header#responsive form>section>input::placeholder,
   header#responsive form>section>i{
        color: rgba(107, 114, 128,0.8);
    }
       
        header#responsive nav{
            display: none;
        }
        header#responsive .nav-responsive{
            display: block;
        }
        header#responsive nav.responsive{
            display: block;
            position: absolute;
            right: 0;
            top: 80px;
            background: var(--azul);
            width: 100%;
        }
        header#responsive nav.responsive ul{
            display: block !important;
            border-top: 1px solid var(--azul-claro);
            box-shadow: 0 2px 2px #4e4e4e;
        }
    
        header#responsive nav.responsive ul li{
            border-bottom: 1px solid var(--azul-claro);
            padding: 0.8em 1em;
            font-size: 1em;
            font-family: "Poppins", sans-serif;
            text-transform: uppercase;
            transition: background 0.7s;
        }
        
        
        
        
        header#responsive nav.responsive ul li:hover:not(:last-of-type){
            background-color: #fff;
            cursor: pointer;
            
        }
        
        
        
        
        
        header#responsive nav.responsive ul li a{
            color: #fff;
            font-weight: 500;
             transition: color 0.7s;
             display: block;
        } 
        header#responsive nav.responsive ul li:hover:not(:last-of-type) a{
             color: #000;
         }

         header#responsive nav.responsive ul li:last-of-type{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
         }

         header#responsive .derecha>div{
            background-color: var(--azul--oscuro);     /* bg-blue-800 */
 padding: 0.8em 1em;
  border-radius: 6px;         /* rounded-full */
  font-weight: 500;              /* font-medium */
  transition: all 0.2s ease;     /* transition */
  display: flex;                 /* flex */
  align-items: center;          /* items-center */
  gap: 0.5rem;       
  color: #fff;
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 1em;
  box-shadow: 0px 0px 4px #83838381;
  transition: background-color .7s, color .7s;
  cursor: pointer;
         }

         header#responsive .derecha>div:hover{
    background-color: var(--azul-claro);
    color: var(--azul--oscuro);
}

       header#responsive  #usuarioBoton{
 background-color: var(--azul--oscuro);     /* bg-blue-800 */
 padding: 0.6em 1em;
  border-radius: 9999px;         /* rounded-full */
  font-weight: 500;              /* font-medium */
  transition: all 0.2s ease;     /* transition */
  display: flex;                 /* flex */
  align-items: center;          /* items-center */
  gap: 0.5rem;       
  color: #fff;
  font-weight: bold;
  font-family: 'Poppins';
  font-size: 1em;
  box-shadow: 0px 0px 4px #83838381;
  transition: background-color .7s, color .7s;
}

        header#responsive #usuarioBoton:hover{
    background-color: var(--azul-claro);
    color: var(--azul--oscuro);
}