header#normal{
    background: var(--degradado-azul);
    display: none;
    width: 100%;
    z-index: 97;
    position: fixed;
    box-shadow: 0 2px 2px #4e4e4e;
    }

    header#normal>section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-right: 40px;
    }
    
    header#normal>section>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    header#normal .image_logo
{
        cursor: pointer;
        padding: 0 1em;
        margin: 0 1em;
        width: 20%;
    }
    
    .image_logo>img{
        width: 100%;
    }
    
    header#normal form{
        width: 100%;
        padding: 0 1em;
        
    }
    
    header#normal form>section{
        width: 100%;
        display: flex;
        padding: 0.4em 0;
        align-items: center;
        background: #fff;
        transition: background 0.25s;
        border-radius: 9999px;
    }
    
    header#normal form>section:focus-within{
        outline: none;
        box-shadow: 0 0 0 2px var(--azul-claro); 
    }
    
    header#normal form>section>input{
        font-size: 1em;
        font-family: "Poppins", serif;
        font-weight: 500;
        color: rgb(31, 41, 55);
        margin-left: 2em;
        outline: none;
        border: none;
        background-color: transparent;
        position: relative;
    }
    
    header#normal form>section>i{
        padding: 0 1em;
    }
    
    
    header#normal form>section>input::placeholder,
    header#normal form>section>i{
        color: rgba(107, 114, 128,0.8);
    }
    
    header#normal nav>ul{
        list-style: none;
        display: flex;
    }
    
    header#normal nav>ul>li{
        padding: 2em 1em;
        font-size: 1em;
        font-family: "Poppins", serif;
        transition: background 0.25s;
        line-height: 30px;
    }
    
    header#normal nav>ul>li:hover{
        background-color: #fff;
        cursor: pointer;
    }
    
    header#normal nav>ul>li:hover a{
        color: #000;
    }
    
    header#normal nav>ul>li>a{
        color: #fff;
    }


    header#normal figure{
        width: 30px; 
        height: 30px; 
        margin-right: 2px;
        
    }

    header#normal figure>img{
        width: 100%;
        overflow: hidden;
        border-radius: 50%; 
    }