---
import Layout from "../layouts/Layout.astro";
import { parse } from "cookie";
import "../styles/acceso.css";

const cookies = parse(Astro.request.headers.get("cookie") || "");
const session = cookies.session;

if (session) {
  throw Astro.redirect("/perfil");
}
---

<Layout>
  <main>
    <h1>Acceso</h1>
    <section>
      <h2>Registro</h2>
      <form id="registro-form" action="/api/register" method="POST" novalidate>
        <input name="nombre_usuario" placeholder="Nombre de usuario" required />
        <input name="nombre" placeholder="Nombre" required />
        <input name="apellido" placeholder="Apellido" required />

        <input
          id="email"
          name="email"
          type="email"
          placeholder="Email"
          required
        />
        <input
          id="repeat-email"
          type="email"
          placeholder="Repite el Email"
          required
        />
        <p id="email-error" class="error-msg"></p>

        <input
          id="password"
          name="contraseña"
          type="password"
          placeholder="Contraseña"
          required
        />
        <input
          id="repeat-password"
          type="password"
          placeholder="Repite la Contraseña"
          required
        />
        <p id="password-error" class="error-msg"></p>

        <button type="submit">Registrarse</button>
      </form>

      <h2>Login</h2>
      <form action="/api/login" method="POST">
        <input name="email" type="email" placeholder="Email" required />
        <input
          name="contraseña"
          type="password"
          placeholder="Contraseña"
          required
        />
        <button type="submit">Iniciar sesión</button>
      </form>
    </section>
  </main>

  <script src="../js/validacionRegister.js"></script>
</Layout>
