---
import Layout from "../layouts/Layout.astro";
import { parse } from "cookie";

// Verificamos si el usuario está logueado.
const cookies = parse(Astro.request.headers.get("cookie") || "");
const session = cookies.session;

if (session) {
  // Si está logueado, lo redirigimos a /perfil
  Astro.redirect("/perfil");
}
---

<Layout>
  <main>
    <h1>Acceso</h1>
    <section>
      <!-- Formulario de Registro -->
      <section>
        <h2>Registro</h2>
        <form action="/api/register" method="POST">
          <input
            name="nombre_usuario"
            placeholder="Nombre de usuario"
            required
          />
          <input name="nombre" placeholder="Nombre" required />
          <input name="apellido" placeholder="Apellido" required />
          <input name="email" type="email" placeholder="Email" required />
          <input
            name="contraseña"
            type="password"
            placeholder="Contraseña"
            required
          />
          <button type="submit">Registrarse</button>
        </form>
      </section>

      <!-- Formulario de Login -->
      <section>
        <h2>Login</h2>
        <form action="/api/login" method="POST">
          <input name="email" type="email" placeholder="Email" required />
          <input
            name="contraseña"
            type="password"
            placeholder="Contraseña"
            required
          />
          <button type="submit">Iniciar sesión</button>
        </form>
      </section>
    </section>
  </main>
</Layout>
