---
import Layout from "../layouts/Layout.astro";
import { parse } from "cookie";
import "../styles/acceso.css";

const cookies = parse(Astro.request.headers.get("cookie") || "");
const session = cookies.session;

if (session) {
  throw Astro.redirect("/perfil");
}
---

<Layout>
  <main>
    <div class="info-text">
      <h2>¡Bienvenido!</h2>
      <p>
        Desde aqui puedes crear o iniciar sesion en una cuenta con la que podras
        acceder a multiples funciones.
      </p>
    </div>

    <div class="container">
      <div class="form-box active" id="loginForm">
        <form id="login-form" action="/api/login" method="POST">
          <h3>Acceder</h3>
          <input
            name="email"
            type="email"
            autocomplete="off"
            placeholder="Email"
            required
          />
          <input
            name="contraseña"
            type="password"
            autocomplete="off"
            placeholder="Contraseña"
            required
          />
          <button type="submit">Iniciar sesión</button>
          <p>
            ¿No tienes una cuenta? <a href="#">Registrate</a>
          </p>
        </form>
      </div>
      <div class="form-box" id="registerForm">
        <form
          id="registro-form"
          action="/api/register"
          method="POST"
          novalidate
        >
          <h3>Registro</h3>
          <input
            type="text"
            name="nombre_usuario"
            placeholder="Usuario"
            required
          />

          <input type="text" name="nombre" placeholder="Nombre" required />

          <input type="text" name="apellido" placeholder="Apellido" required />

          <input
            id="email"
            name="email"
            type="email"
            placeholder="Email"
            required
          />

          <input
            id="repeat-email"
            type="email"
            placeholder="Repite tu Email"
            required
          />

          <input
            id="password"
            name="contraseña"
            type="password"
            placeholder="Contraseña"
            required
          />

          <input
            id="repeat-password"
            type="password"
            placeholder="Repite tu Contraseña"
            required
          />

          <p id="email-error" class="error-msg"></p>
          <p id="password-error" class="error-msg"></p>
          <button type="submit">Registrarse</button>
          <p>
            ¿Ya tienes una cuenta? <a href="#">Inicia sesión</a>
          </p>
        </form>
      </div>
    </div>

    <!-- 


      <div class="form-box register">
        <h2 class="animation" style="--i:17; --j:0;">Registro</h2>
        <form
          id="registro-form"
          action="/api/register"
          method="POST"
          novalidate
        >
          <div class="overflow-content animation" style="--i:18; --j:1;">
            <div class="input-box">
              <input type="text" name="nombre_usuario" required />
              <label>Usuario</label>
              <i class="fa-solid fa-at"></i>
            </div>
            <div class="input-box">
              <input type="text" name="nombre" required />
              <label>Nombre</label>
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
              <input type="text" name="apellido" required />
              <label>Apellido</label>
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-box">
              <input id="email" name="email" type="email" required />
              <label>Email</label>
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box">
              <input id="repeat-email" type="email" required />
              <label>Repite tu Email</label>
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-box">
              <input id="password" name="contraseña" type="password" required />
              <label>Contraseña</label>
              <i class="fa-solid fa-lock"></i>
            </div>
            <div class="input-box">
              <input id="repeat-password" type="password" required />
              <label>Repite tu Contraseña</label>
              <i class="fa-solid fa-lock"></i>
            </div>
          </div>
          <p id="email-error" class="error-msg"></p>
          <p id="password-error" class="error-msg"></p>
          <button type="submit" class="btn animation" style="--i:19; --j:2;"
            >Registrarse</button
          >
          <div class="logreg-link animation" style="--i:20; --j:3;">
            <p>
              ¿Ya tienes una cuenta? <a href="#" class="login-link"
                >Inicia sesión</a
              >
            </p>
          </div>
        </form>
      </div>
    
     -->
  </main>
  <script src="../js/intercambioFormularios.js"></script>
  <script src="../js/validacionRegister.js"></script>
  <script src="../js/validacionLogin.js"></script>
</Layout>
