---
import Layout from "../layouts/Layout.astro";
import "../styles/acceso.css";
---

<Layout>
  <main>
    <h1>Acceso</h1>

    <!-- Formulario de Registro -->
    <section>
      <h2>Registro</h2>
      <form action="/api/register" method="POST">
        <input name="nombre_usuario" placeholder="Nombre de usuario" required />
        <input name="nombre" placeholder="Nombre" required />
        <input name="apellido" placeholder="Apellido" required />
        <input name="email" type="email" placeholder="Email" required />
        <input
          name="contrase침a"
          type="password"
          placeholder="Contrase침a"
          required
        />
        <button type="submit">Registrarse</button>
      </form>
    </section>

    <!-- Formulario de Login -->
    <section>
      <h2>Login</h2>
      <form action="/api/login" method="POST">
        <input name="email" type="email" placeholder="Email" required />
        <input
          name="password"
          type="password"
          placeholder="Contrase침a"
          required
        />
        <button type="submit">Iniciar sesi칩n</button>
      </form>
    </section>
  </main>
</Layout>
