---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
---

<Layout>
  <main>
    <h1>Infinity Treasures Vault</h1>
    <h2>
      Tu colección, tus tesoros. Donde tu también encontraras tu pequeño
      espacio.
    </h2>
    <figure>
      <img src="/img/banner.webp" alt="Muestra de funkos" />
    </figure>

    <section>
      <h2>Marcas</h2>
      <hr />
      <section>
        <figure>
          <img src="/img/marcas/Aliexpress.png" alt="Aliexpress" />
        </figure>
        <figure>
          <img src="/img/marcas/bandai.png" alt="Bandai Namco" />
        </figure>
        <figure>
          <img src="/img/marcas/banpresto.png" alt="Banpresto" />
        </figure>
        <figure>
          <img src="/img/marcas/dragon_ball.png" alt="DragonBall" />
        </figure>
        <figure><img src="/img/marcas/funko.png" alt="Funko" /></figure>
        <figure>
          <img src="/img/marcas/lilostitch.png" alt="Lilo & Stitch" />
        </figure>
        <figure><img src="/img/marcas/marvel.png" alt="Marvel" /></figure>
        <figure>
          <img src="/img/marcas/nintendo.png" alt="Nintendo" />
        </figure>
        <figure>
          <img
            src="/img/marcas/planetadeagostini.png"
            alt="Planeta deAgostini"
          />
        </figure>
        <figure><img src="/img/marcas/pokemon.png" alt="Pokémon" /></figure>
        <figure>
          <img src="/img/marcas/starwars.png" alt="StarWars" />
        </figure>
        <figure><img src="/img/marcas/steam.png" alt="Steam" /></figure>
      </section>
    </section>
    <section>
      <!-- Este es el section que no debe tocarse -->
      <h2>Novedades</h2>
      <hr />
      <section>
        <!-- Aquí se generarán dinámicamente las tarjetas de productos -->
      </section>
    </section>
    <section>
      <h2>Dragon Ball</h2>
      <hr />
      <section>
        <!-- Aquí se generarán dinámicamente las tarjetas de productos -->
      </section>
    </section>
    <section>
      <h2>Star Wars</h2>
      <hr />
      <section>
        <!-- Aquí se generarán dinámicamente las tarjetas de productos -->
      </section>
    </section>
    <section>
      <h2>Marvel</h2>
      <hr />
      <section>
        <!-- Aquí se generarán dinámicamente las tarjetas de productos -->
      </section>
    </section>
    <section>
      <h2>Pokémon</h2>
      <hr />
      <section>
        <!-- Aquí se generarán dinámicamente las tarjetas de productos -->
      </section>
    </section>
  </main>
</Layout>
