---
import LateralPerfil from "../components/lateralPerfil.astro";
import EditarPerfil from "../components/editarPerfil.astro";
import MisProductos from "../components/misProductos.astro";
import MisCalificaciones from "../components/misCalificaciones.astro";
import MisFavoritos from "../components/misFavoritos.astro";
import "../styles/perfil.css";

import "../styles/general.css";

import { parse } from "cookie";
import { Pool } from "pg";

// Conexión a la base de datos
const pool = new Pool({
  connectionString: import.meta.env.DATABASE_URL,
});

// Leer cookies
const cookies = parse(Astro.request.headers.get("cookie") || "");
const sessionId = cookies.session;

if (!sessionId) {
  throw Astro.redirect("/acceso"); // Redirige si no hay sesión
}

// Obtener los datos del usuario desde la base de datos
let user = null;
try {
  const result = await pool.query("SELECT * FROM usuarios WHERE id = $1", [
    sessionId,
  ]);
  user = result.rows[0];
} catch (error) {
  console.error("Error al obtener los datos del usuario:", error);
}
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Mi Perfil</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <LateralPerfil />
    <!-- HTML -->
    <div id="editarPerfil" class="seccion visible">
      <EditarPerfil />
    </div>
    <div id="misProductos" class="seccion hidden">
      <MisProductos />
    </div>
    <div id="misCalificaciones" class="seccion hidden">
      <MisCalificaciones />
    </div>
    <div id="misFavoritos" class="seccion hidden">
      <MisFavoritos />
    </div>

    <script src="../js/intercambioPaginasPerfil.js"></script>
  </body>
</html>
