---
import LateralPerfil from "../components/lateralPerfil.astro";
import "../styles/perfil.css";
import "../styles/general.css";

import { parse } from "cookie";

const cookies = parse(Astro.request.headers.get("cookie") || "");
const session = cookies.session;

if (!session) {
  throw Astro.redirect("/acceso");
}
---

<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=search"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
  integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<body>
  <LateralPerfil />
  <header>Editar Perfil</header>
  <main>
    <section>
      <h1>Bienvenido a tu perfil</h1>
    </section>
  </main>
</body>
