---
import "../styles/footer.css";
---

<footer>
  <section>
    <div>
      <h4>Infinity Treasures Vault</h4>
      <p>
        Tu colección, tus tesoros. Donde tu también encontraras tu pequeño
        espacio.
      </p>
    </div>

    <div>
      <ul>
        Enlaces
        <li><a href="/index.html">Inicio</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/registroProducto">Registrar Producto</a></li>
      </ul>
    </div>

    <div>
      <ul>
        Información
        <li><a href="#">Términos y Condiciones</a></li>
        <li><a href="#">Política de Privacidad</a></li>
        <li><a href="#">Política de Cookies</a></li>
      </ul>
    </div>

    <div>
      <ul>
        Contacto
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Correo Eléctronico</a></li>
      </ul>
    </div>
  </section>
  <hr />
  <section>
    <p>© 2025 Infinity Treasures Vault. Todos los derechos reservados</p>
  </section>
</footer>
