---
import "../styles/header.css";
import UsuarioBoton from "./usuarioBoton.astro";
---

<header id="normal">
  <section>
    <div class="izquierda">
      <div class="image_logo">
        <img src="/img/logo.webp" alt="Logo de Infinity Treasures Vault" />
      </div>

      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/registroProducto">Registrar Producto</a></li>
        </ul>
      </nav>
    </div>
    <div class="derecha">
      <form>
        <section>
          <input type="search" placeholder="Buscar" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </section>
      </form>
      <UsuarioBoton />
    </div>
  </section>
</header>
