---
import "../styles/headerResponsive.css";
import UsuarioBoton from "./usuarioBoton.astro";
---

<header id="responsive">
  <section>
    <div class="izquierda">
      <div class="image_logo">
        <img src="/img/logo.webp" alt="Logo de Infinity Treasures Vault" />
      </div>
    </div>

    <div class="derecha">
      <div>
        <i></i>
      </div>
    </div>
  </section>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/registroProducto">Registrar Producto</a></li>
      <li>
        <form>
          <section>
            <input type="search" placeholder="Buscar" />
            <i class="fa-solid fa-magnifying-glass"></i>
          </section>
        </form>
        <UsuarioBoton />
      </li>
    </ul>
  </nav>
  <script src="../js/navegacionResponsive.js"></script>
</header>
