---
import "../styles/headerResponsive.css";
---

<header id="responsive">
  <section>
    <figure>
      <img src="/img/logo.webp" alt="Logo de Infinity Treasures Vault" />
    </figure>
    <div>
      <i></i>
    </div>
  </section>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/productos">Productos</a></li>
      <li><a href="/registroProducto">Registrar Producto</a></li>
      <li><a href="/login">Acceder <i class="fa-solid fa-user"></i></a></li>
    </ul>
  </nav>

  <form>
    <section>
      <input type="search" placeholder="Buscar" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </section>
  </form>
</header>
