<div>
  <a href="/">Home</a>
  <ul>
    <li><a href="/">Cuenta</a></li>
    <li><a href="/">Tus Productos</a></li>
    <li><a href="/">Calificaciones</a></li>
    <li><a href="/"></a></li>
  </ul>
  <a href="/.netlify/functions/logout">Cerrar sesión</a>
</div>
